@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@import './utilities.css';
@import './variable.css';

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    --webkit-font-smoothing: antialiased;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: var(--pure);
    background: var(--primary);
   
}
header{
    background: linear-gradient(135deg, rgba(0,0,0,1),rgba(0,0,0,0.2)),
    url('../img/sunrise.jpg');
    min-height: 100vh;
    background-size: cover;
}
header nav{
    padding: 20px 40px 20px 100px;
    display: grid;
    grid-template-columns:1fr 2fr;
    align-items: center;
    border-bottom: 1px solid var(--gray);
}
header nav .nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header nav .nav-right a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 30px;
    position: relative;
}
header nav .nav-right a:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -30px;
    background: var(--pure);
    width: 0;
    height: 2px;
    transition: width 0.3s ease;
}
header nav .nav-right a:hover:after{
  width: 70%;
}
header nav .nav-right a.active:after{
    width: 70%;
}
header nav .nav-right .search{
    background: var(--dark);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-radius: 50px;
   
}
header nav .nav-right .search input{
    background: transparent;
    color: var(--pure);
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 16px;
    
}
section.hero .social div{
    border: 2px solid var(--pure);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
   
}
@keyframes moveIn {
    from{
     transform: translateX(-100px);
    }
    to{
     transform: translateX(0px);
     opacity: 1;
    }
}
section.hero .social a{
    color: var(--pure);
}
section.hero .social div:hover{
    background: var(--pure);
   
}
section.hero .social div:hover a{
    color: var(--dark);
    transition: all 0.5s ease-in-out;
}
section.hero{
    position: relative;
}
section.hero .social {
    border-right: 1px solid var(--gray);
    width: 100px;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero .cta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh -80px);
   
   
}
.hero .cta h1{
    color: var(--pure);
    font-weight: 400;
    line-height: 1.7;
    font-size: 22px;
    padding-bottom: 30px;
}
.hero .cta div{
    flex: 1;
}
.hero .cta .left-section{
    padding: 0 60px 0 30px;
}

.hero .cta .right-section img{
    height: 60vh;
    transform: rotate(15deg);
    animation: moveInSpace 12s ease-in-out infinite alternate;
   
    
}
@keyframes moveInSpace {
    50% {
        transform: translateY(100px) rotate(-30deg) scale(0.7);
    }
}
/* end header...... */

section.strip{
    display: flex;
    background: var(--dark);
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;
}
section.rocket{
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    grid-gap: 80px;
    padding: 100px 0;
}
section.rocket .rocket-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section.rocket .rocket-body span{
    font-size: 0;
    position: relative;
}
section.rocket .rocket-body span img{
    width: 100%;
}
section.rocket .block{
    width: 70%;
}
section.rocket .block h1{
    font-size: 32px;
    font-weight: 400;
}
section.rocket .block .with-underline{
    position: relative;
    margin-bottom: 38px;
}
section.rocket .block .with-underline:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -12px;
    background: var(--pure);
    width: 38%;
    height: 2px;
    display: block;
}
section.rocket .block h1.with-underline:before{
    width: 20%;
}
section.rocket .block p{
    line-height: 1.6;
}
section.rocket .block h2{
    font-weight: 400;
    margin-bottom: 20px;
}
section.rocket .block.paylod{
    padding-top: 130px;
}
section.rocket .block.paylod h2{
    margin-left: 80px;
}
section.rocket .block.dragon{
    padding-top: 100px;
}
section.rocket .block button{
    margin-top: 30px;
}
section.rocket .block.composite{
    margin-top: 60px;
}
section.rocket .block.stage{
    margin-top: 60px;
}
section.rocket .block.stage2{
    margin-top: 60px;
}
section.rocket .block.capecity{
    display: flex;
    align-items: center;
    margin-top: 40px;
   
}
section.rocket .block.capecity >div:first-child{
    margin-right: 40px;
}
section.rocket .block.capecity h4{
    font-size: 12px;
    font-weight: 400;
}
section.rocket .block.capecity h6{
    font-size: 40px;
    font-weight: 400;
}
section.rocket .block.capecity h6 small{
    font-size: 12px;
}
section.rocket .right-block .block.capecity{
    padding-top: 100px;
}
section.rocket .right-block .block.capecity.single{
    padding-top: 20px;
}
section.rocket .right-block .block.engines{
    padding-top: 40px;
   display: flex;
   justify-content: center;
}
section.rocket .right-block .block.engines img{
    width: 180px;
}
section.rocket .right-block .block.marine{
    padding-top: 100px;
    width: 70%;
}
section.rocket .right-block .block.marine h2{
    font-size: 14px;
    padding-left: 100px;
    margin-bottom: 26px;
}
section.rocket .right-block .floating-graphics{
    float: right;
    margin-right: -80px;
    position: sticky;
    top: 60px;
}
section.rocket .right-block .floating-graphics img{
    height: 360px;
}
section.rocket .rocket-body span:after,section.rocket .rocket-body span:nth-child(3):before{
    content: '';
    position: absolute;
    display: block;
    background: var(--pure);
    width: 0;
    height: 2px;
    transition: width 1s ease-in-out;
}
section.rocket .rocket-body span:nth-child(1):after{
    bottom: 21px;
    left: 96%;
}
section.rocket .rocket-body span:nth-child(2):after{
 bottom: 68%;
 right: 100%;
}
section.rocket .rocket-body span:nth-child(3):after{
    bottom: 60%;
    right: 90%; 
}
section.rocket .rocket-body span:nth-child(3):before{
    bottom: 23%;
    left: 90%;
}
section.rocket .rocket-body span.active:nth-child(1):after{
  width: 120px;
}
section.rocket .rocket-body span.active:nth-child(2):after{
    width: 180px;
  }
  section.rocket .rocket-body span.active:nth-child(3):after{
    width: 200px;
  }
  section.rocket .rocket-body span.active:nth-child(3):before{
    width: 160px;
  }
  @keyframes jump {
      50%{
          transform: translateY(-50px);
      }
  }
  section.rocket .rocket-body span.active:nth-child(1){
    animation: jump 1s ease-in-out;
  }
  footer{
      background: vr(--dark);
      padding: 60px 0;
  }
  footer > div{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
  }
  footer .copyright img{
      height: 30px;
  }
  footer .copyright span{
     font-size: 12px;
     display: inline-block;
     margin-top: 5px;
     font-weight: 400;
  }
  footer h1{
      font-size: 18px;
      position: relative;
      margin-bottom: 30px;
  }
  footer h1:after{
      content: '';
      position: absolute;
      display: block;
      width: 60px;
      height: 2px;
      background: var(--pure);
      left: 0;
      bottom: -8px;

  }
  footer ul{
      list-style: none;
  }
  footer ul li:nth-child(even){
      margin: 10px 0;
  }
  footer ul li a{
      text-decoration: none;
      color: var(--mild);
      font-size: 14px;
      transition: all .3s ease-in-out;
  }
  footer ul li a:hover{
      color:var(--pure);
  }
  footer .footer-socials a{
      color:var(--mild);
      font-size: 22px;
      margin-right: 10px;
  }
  footer .footer-socials a:hover{
      color:var(--pure);
  }